@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body {
    background-color:  #f9f9f9;
}

.app-container {
    width: 800px;
    height: 600px;
    background: #e0e4e7
}

.effect {
    background: #E0E4E7;
    box-shadow:  5px 5px 13px #b8c7dd,
             -5px -5px 13px #ffffff;
}

.title {
    color: rgb(236, 126, 218, 0.85);
    text-shadow: 1px 1px 2px #e0e4e7, 0 0 0 black, 1px 4px 6px, #def;
}

input[type=radio] {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=radio]:checked {
    border-radius: 50%;
    background: #E0E4E7;
    box-shadow:  4px 4px 8px #b8c7dd,
             -4px -4px 8px #ffffff;
}

input[type=radio]:checked::before {
    content:"";
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #44dbe5;
}
input[type=checkbox] {
    display: none;
}

.switch{
    position: relative;
    cursor: pointer;
}

.switch-bg {
    overflow: visible;
    height: 20px;
    width: 55px;
    border-radius: 15px;
    background: #E0E4E7;
    box-shadow: inset  7px 2px 2px 0px #c2cad5, inset -3px -2px 2px 0px #f7f7f7;
}

.switch-indicator {
    top: -4px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #E0E4E7;
    box-shadow:  4px 4px 8px #b8c7dd,
             -4px -4px 8px #ffffff;
}

input[type=checkbox]:checked~.switch-indicator {
    transform: translateX(85%);
}

@theme {
    --color-chestnut: #973F29;
}

@layer base {
    h3 {
        @apply text-base font-medium tracking-tight text-slate-900 dark:text-white;
    }
    p {
        @apply mt-2 text-sm text-slate-500 dark:text-blue-100;
    }
    button {
        @apply px-4 py-2 text-sm font-medium mt-8 text-blue-900 bg-blue-100 rounded-md;
    }
}

@layer components {
    .card {
        @apply m-10 rounded-lg bg-white px-6 py-8 shadow-xl ring-1 ring-slate-900/5 dark:bg-black
    }
}

@utility flex-center {
    @apply flex justify-center items-center;
}

/* @utility container {
    margin-inline: auto;
    padding-inline: 1.5rem;
} */