@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body {
    background-color:  #7e97a7;
}

.app-container {
    background: #e0e4e7
}

.dark .app-container {
  background: #1e293b;
}

.effect {
    background: #E0E4E7;
    box-shadow:  5px 5px 13px #b8c7dd,
             -5px -5px 13px #ffffff;
}

.effect-trans {
  background: rgba(224, 228, 231, 0.6); /* 60% Deckkraft */
  box-shadow: 5px 5px 13px #b8c7dd,
              -5px -5px 13px #ffffff;
  backdrop-filter: blur(8px); /* leichter Blur-Effekt */
}

.effect-button {
    background: #E0E4E7;
    box-shadow:  5px 5px 13px #b8c7dd,
             -5px -5px 13px #ffffff;
}

.effect-button:hover {
    background: #cfd3d6;
}

.effect-inner{
    background: #E0E4E7;
    box-shadow:  inset 4px 3px 3px 0px #b8c7dd, inset -2px -4px 4px -0px #fff;
}

.dark .effect {
  background: #1e293b;
  box-shadow:
    5px 5px 13px #0f172a, 
   -5px -5px 13px #334155;   
}

.dark .effect-trans {
  background: rgba(30, 41, 59, 0.6); /* Dark mode: #1e293b mit 60% Deckkraft */
  box-shadow: 5px 5px 13px #0f172a,
             -5px -5px 13px #334155;
  backdrop-filter: blur(8px);
}

.dark .effect-button {
  background: #1e293b;
  box-shadow:
    5px 5px 13px #0f172a,
   -5px -5px 13px #334155;
}

.dark .effect-button:hover {
  background: #27364a; /* leicht heller fürs Hover */
}

.dark .effect-inner {
  background: #1e293b;
  box-shadow:
    inset 4px 3px 3px 0px #0f172a,
    inset -2px -4px 4px 0px #334155;
}

.title {
    color: rgb(236, 126, 218, 0.85);
    text-shadow: 1px 1px 2px #e0e4e7, 0 0 0 black, 1px 4px 6px, #def;
}

input[type=radio] {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=radio]:checked {
    border-radius: 50%;
    background: #E0E4E7;
    box-shadow:  4px 4px 8px #b8c7dd,
             -4px -4px 8px #ffffff;
}

input[type=radio]:checked::before {
    content:"";
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #44dbe5;
}

.dark input[type=radio]{
    background: #2a3446;                
    box-shadow:  4px 4px 8px #1a2230,  
             -4px -4px 8px #3c4a6b;     
}

.dark input[type=radio]:checked{
    background: #3c4a6b;              
    box-shadow:  4px 4px 8px #1a2230,
             -4px -4px 8px #4d5b7d;
}

.dark input[type=radio]:checked::before{
    background: #44dbe5;              
}

input[type=checkbox] {
    display: none;
}

input[type=text] {
    background: none;
}

input[type=text]:focus {
    outline: none;
}

.switch{
    position: relative;
    cursor: pointer;
}

.switch-bg {
    overflow: visible;
    height: 20px;
    width: 55px;
    border-radius: 15px;
    background: #E0E4E7;
    box-shadow: inset  7px 2px 2px 0px #c2cad5, inset -3px -2px 2px 0px #f7f7f7;
}

.dark .switch-bg {
    background: #2a3446;
    box-shadow: inset 7px 2px 5px 0px #1a2230, inset -3px -2px 5px 0px #3c4a6b;
}

.switch-indicator {
    top: -4px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #E0E4E7;
    box-shadow:  4px 4px 8px #b8c7dd,
             -4px -4px 8px #ffffff;
}

.dark .switch-indicator {
    background: #2a3446;
    box-shadow: 4px 4px 8px #1a2230, -4px -4px 8px #3c4a6b;
}

input[type=checkbox]:checked~.switch-indicator {
    transform: translateX(85%);
    box-shadow:  4px 4px 8px #b8c7dd,
             -4px -4px 8px #ffffff;
}

input[type=checkbox]:checked~.switch-bg {
    background: #5685FF;
    box-shadow: 4px 3px 3px 0px #4272ee inset;
}

.dark input[type=checkbox]:checked ~ .switch-indicator {
    transform: translateX(85%);
    box-shadow: 4px 4px 8px #1a2230, -4px -4px 8px #3c4a6b;
    background: #2a3446;
}

.dark input[type=checkbox]:checked ~ .switch-bg {
    background: #3759e7; /* Etwas dunkleres Blau */
    box-shadow: 4px 3px 3px 0px #2748c3 inset;
}

.app-color-gray {
    color: #646464;
}

.app-color-pink {
    color: #EC7EDA;
}

.app-color-blue-1 {
    color: #78BFFF;
}

.app-color-blue-2 {
    color: #5685FF;
}

.app-color-orange {
    color: #e4b144;
}

.app-color-teal{
    color: #3bbec5;
}

.dark .app-color-teal{
    color: #44DBE4;
}

.text-color-blue-1 {
    color: #78BFFF;
}

.text-color-pink {
    color: #EC7EDA;
}

.text-color-green {
    color: #4fac8b;
}

.dark .text-color-green {
    color: #68DEB4;
}

.text-color-teal {
    color: #3bbec5;
}

.dark .text-color-teal {
    color: #44DBE4;
}

.text-color-red {
    color: #e45c44;
}

.text-color-orange {
    color: #e4b144;
}

.text-color-lavender {
    color: #576EE6;
}

.app-bg-orange {
    background: #e4b144;
}

.app-bg-blue-1 {
    background: #78BFFF;
}

.app-bg-blue-2 {
    background: #5685FF;
}

.app-bg-lavender {
    background: #576EE6;
}

.app-bg-pink {
    background: #EC7EDA;
}

.app-bg-teal {
    background: #3bbec5;
}

.dark .app-bg-teal {
    background: #44DBE4;
}

.app-bg-green {
    background: #68DEB4;
}

@theme {
    --color-chestnut: #973F29;
}

@layer base {
    h3 {
        @apply text-base font-medium tracking-tight text-slate-900 dark:text-white;
    }
    p {
        @apply mt-2 text-sm text-slate-500 dark:text-blue-100;
    }
    button {
        @apply px-4 py-2 text-sm font-medium mt-8 text-blue-900 bg-blue-100 rounded-md;
    }
}

@layer components {
  .card {
    @apply m-10 rounded-lg px-6 py-8 bg-white
           shadow-xl ring-1 ring-slate-900/5;

    @apply dark:bg-slate-800
           dark:ring-white/10
           dark:shadow-[0_8px_16px_0_rgba(0,0,0,0.4)];
  }
}

@utility flex-center {
    @apply flex justify-center items-center;
}

/* @utility container {
    margin-inline: auto;
    padding-inline: 1.5rem;
} */